.HomePage {
  &__listing {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  &__card {
    margin-right: 2rem;
    img {
      width: 250px;
      height: 250px;
    }
  }

  &__sorting{
    margin-bottom: 1rem;

    button{
      margin : 0 0.5rem;
      padding : 0.4rem;
      background-color : #2874f0;
      color : #fff;
      border : none;
      cursor: pointer;
    }
  }
}
