.sidebar{
    width : 20vw;
    h3{
        margin-left : 100px;
    }

    &__size{
        h4{
            margin-left : 6rem;
        }
        margin-bottom: 1rem;
    }

    &__brand{
        h4{
            margin-left : 6rem;
        }
        margin-bottom: 1rem;
    }

    &__Gender{
        h4{
            margin-left : 6rem;
        }
    }

    &__sizeContents{
        display : flex;
        align-items: center;
        margin-left : 2rem;
        padding-bottom: 0;   
    }
    &__brandContents{
        display : flex;
        align-items: center;
        margin-left : 2rem;
    }

    &__GenderContents{
        display : flex;
        align-items: center;
        margin-left : 2rem; 
    }
}